body{
    background-image: url("images/Pastel Floral Weekly To Do List Planner.png");
    background-size: cover;
    background-position: center;
}
.container{
    background-color: white;
    border-radius: 10px;
    margin: 100px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.input-container{
    background-color: rgb(217, 236, 234);
    padding: 10px;
    margin: 10px 10px 60px 10px;
    position: sticky;
}
h1{
    color: rgb(108, 50, 40);
    text-align: center;
    padding: 15px;
    font-size: 50px;
    position: sticky;
    font-family: cursive
}
#inputTask{
    border: none;
    background-color: rgb(217, 236, 234);
    margin: 0px;
    padding: 10px 130px;
    position: relative;
    left: 400px;
    font-size: medium;
}
#addBtn{
    border: none;
    background-color: rgb(217, 236, 234);
    padding: 10px 20px;
    color: rgb(108, 50, 40);
    font-size: 18px;
    font-weight: 550;
    cursor: pointer;
    position: relative;
    left: 500px;
}
li{
    list-style-type: none;
    background-color: rgb(248, 235, 247);
    color: #702a51;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 8px;
    margin: 5px;
    border-radius: 8px;
    gap: 20px;
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}
.checkbox{
    margin: 0px;
    border-radius: 50px;
    width: 16px;
    height: 16px;
}
.delete-btn{
    background-color: #eedce2;
    border: none;
    color: #6c3228;
    border-radius: 15px;
    font-size: 16px;
    cursor: pointer;
}
#task-list {
    display: grid;
    grid-template-columns: repeat(2, 300px);
    column-gap: 150px;
    row-gap: 20px;
    justify-content: center;
    padding: 0;
}
.task-list-container {
    max-height: 400px;
    overflow-y: auto;
    scroll-behavior: smooth;
}