body {
    background-image: url("images/Pastel Floral Weekly To Do List Planner.png");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 20px;
}
.container {
    background-color: white;
    border-radius: 10px;
    max-width: 900px;
    margin: 60px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
    color: rgb(108, 50, 40);
    text-align: center;
    padding: 15px;
    font-size: 50px;
    font-family: cursive;
}

/* Input Section */
.input-container {
    background-color: rgb(217, 236, 234);
    padding: 15px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    border-radius: 8px;
}

#inputTask {
    border: none;
    background-color: white;
    padding: 10px;
    width: 60%;
    max-width: 400px;
    font-size: medium;
    border-radius: 5px;
}
#addBtn {
    border: none;
    background-color: rgb(108, 50, 40);
    padding: 10px 20px;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
}
li {
    list-style-type: none;
    background-color: rgb(248, 235, 247);
    color: #702a51;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border-radius: 8px;
    font-size: larger;
    font-family: 'Times New Roman', Times, serif;
}
.delete-btn {
    background-color: #eedce2;
    border: none;
    color: #6c3228;
    border-radius: 15px;
    font-size: 14px;
    padding: 5px 10px;
    cursor: pointer;
}
#task-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 0;
}
.task-list-container {
    max-height: 400px;
    overflow-y: auto;
}
@media (max-width: 600px) {

    h1 {
        font-size: 28px;
    }

    .container {
        margin: 20px;
    }

    #inputTask {
        width: 100%;
    }

    #addBtn {
        width: 100%;
    }
}