body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(248, 240, 231);
}
.container{
    background-color: rgb(33, 32, 32);
    max-width: 600px;
    border-radius: 10px;
    overflow: hidden;
}
input{
    width: 100%;
    padding: 30px;
    border: none;
    text-align: left;
    background-color: rgb(43, 42, 42);
    color: white;
    font-size: 2.5rem;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 20px;
    padding: 20px;
}
#C{
    grid-column: span 2;
}
#equals{
    grid-column: span 2;
}
button{
    height: 80px;
    border-radius: 50%;
    border: none;
    background-color: gray;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 5px;
    font-size: 1.5rem;
}
button:active{
    background-color: darkgray;
}
.operator{
    background-color: salmon;
}
.operator:active{
    background-color: darksalmon;
}